a:link {
    color: rgb(252, 252, 252);
}

a:visited {
    color: rgb(197, 224, 197);
}

a:hover {
    color: rgb(76, 170, 194);
}

a:active {
    color: rgb(0, 0, 0);
}

.nav {
    display: flex;
    background-color: #125b6d;
    justify-content: space-between;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.nav-li {
    height: auto;
    width: auto;
    padding: 5px;
}

.nav-li-a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.img-logo {}

.nav-li-right {
    background-color: #568692;
    border-radius: 50%;
    padding: 20px;
    color: rgb(252, 252, 252);
}

.img-Menu {
    background-color: rgba(41, 125, 173, 0.363);
    border-style: solid;
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;

}

.img-menu-left {

    max-width: 100%;
    height: auto;
    float: left;
    position: relative;
    left: auto;

}

.img-menu-right {
    max-width: 100%;
    float: right;
    position: relative;
}

.menu-left-h2 {
    position: absolute;
    z-index: 20;
    top: 40%;
    text-align: left;
    width: auto;
    color: white;
    margin-left: 0px;
    padding-left: 5%;
    background-color: rgba(18, 91, 109, 0.5);


}

.menu-right-h2 {
    position: absolute;
    z-index: 20;
    top: 40%;
    text-align: left;
    width: auto;
    color: white;
    margin-left: 0px;
    padding-left: 5%;
    background-color: rgba(18, 91, 109, 0.5);

}

.btn {
    display: inline-block;
    padding: 5px;
}

.btn-primary {
    background-color: rgb(10, 169, 231);
}

.btn-zobrazVsechny {
    padding: 5px;
    margin-top: 5%;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 5%;
    background-color: rgb(10, 169, 231);


}

.obsah-novinky {
    background-color: rgba(18, 91, 109, 0.5);
    position: relative;
    width: 100%;
    height: 100%;drfgzh
    max-width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
}

.h1-cojenoveho {
    padding-top: 5%;
    padding-left: 5%;
    margin: 0px;
}

.galerie {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;


}

.galerie-item {
    width: 200px;
    max-width: 400px;
    height: auto;
    max-height: 400px;
    padding: 5px;
    margin-top: 10px;

}

.realizace {
    background-color: rgba(56, 111, 124, 0.5);
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
}
.galerie-realizace{
    display: flex;
    padding: 5px;
    
}
.galerie-realizace-row2{

    padding: 5px;
    
}
.galerie-realizace-item{
    padding:5px;
}
.galerie-realizace-item img{
    border-radius: 5%;
}
.prechod{
    
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    
}
.prechod-image{
    display: flex;
    position: relative;
    max-width: 400px;
    max-height: 400px;
    padding: 5px;
    margin-top: 10px;
    z-index: 2;
}
.prechod-image-left{
    margin-right: 5px;
    position: absolute;
    margin-top: 20%;
    
}
.prechod-image-right{
    margin-left: 5px;
    position: absolute;
    margin-top: 0%;
    
}
