a:link {
    color: rgb(252, 252, 252);
}

a:visited {
    color: rgb(197, 224, 197);
}

a:hover {
    color: rgb(76, 170, 194);
}

a:active {
    color: rgb(0, 0, 0);
}

.nav {
    display: flex;
    background-color: #125b6d;
    justify-content: space-between;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.nav-li {
    height: auto;
    width: auto;
    padding: 5px;
}

.nav-li-a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.img-logo {
}

.nav-li-right {
    background-color: #568692;
    border-radius: 50%;
    padding: 20px;
    color: rgb(252, 252, 252);
}

.img-Menu {
    background-color: rgba(41, 125, 173, 0.363);
    border-style: solid;
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;

}

.img-menu-left {

    max-width: 100%;
    height: auto;
    float: left;
    position: relative;
    left: auto;

}

.img-menu-right {
    max-width: 100%;
    float: right;
    position: relative;
}

.menu-left-h2 {
    position: absolute;
    z-index: 20;
    top: 40%;
    text-align: left;
    width: auto;
    color: white;
    margin-left: 0px;
    padding-left: 5%;
    background-color: rgba(18, 91, 109, 0.5);


}

.menu-right-h2 {
    position: absolute;
    z-index: 20;
    top: 40%;
    text-align: left;
    width: auto;
    color: white;
    margin-left: 0px;
    padding-left: 5%;
    background-color: rgba(18, 91, 109, 0.5);

}

.btn {
    display: inline-block;
}

.btn-primary {
    background-color: green;
}